@model IEnumerable<WebApplication1.Models.Employee>

@{
    Layout = null;
}

<div class="form-row justify-content-start pb-4">
    <div class="col-md-10">
        <table id="tableSalaryInfo" class="table table-borderless table-data3">
            <thead class="">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Total Salary</th>
                </tr>
            </thead>

            <tbody>
                @{int i = 0; }
                @foreach (var item in Model)
                {
                    foreach (var year in item.annualSalaries)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.name</td>
                            <td>@year.year</td>
                            <td>@year.sumSalary</td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/DataTableJQ.js"></script>
<script>
    $('#tableSalaryInfo').DataTable({
        "pageLength": 5,
        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
    });
</script>





