@*@model WebApplication1.Models.Employee*@
@{
    Layout = null;
}

<div class="form-row justify-content-start pb-4">
    <div class="col-md-10">
        <table id="tableSalaryInfo" class="table table-borderless table-data3">
            <thead class="">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Total Salary</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
    </div>
</div>





