@{ ViewBag.Title = "EM | Employees"; }
<div class="row">
    <div class="col-md-12">

        

        <div class="card">
            <div class="card-header">Employee List</div>
            <div class="card-body">

                <table id="myTable" class="table table-borderless table-data3">
                    <thead class="">
                        <tr>
                            <th >#ID</th>
                            <th >Photo</th>
                            <th >Name</th>
                            <th >Email</th>
                            <th >Phone</th>
                            <th >Action</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            GetData();

            //Activating SideNav
            $("#sideNavEmployee").addClass("active");
            $("#sideNavEmployeeList").addClass("active");

            $("#customFile").on("change", function () {
                //if (!($(this).val() == "")) {
                //    var fileName = $(this).val().split("\\").pop().slice(0, 12);
                //    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                //}
                var fileName = $(this).val().split("\\").pop().slice(0, 6);
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

            });

            $("#employeeUpdateForm :input").change(function () {
                $("#employeeUpdateForm").data("changed", true);
            });

            $("#buttonUpdateEmployee").click(function () {
                SaveEmployee();
            });


        });


        function GetData() {
            $.ajax({
                url: '/EmployeeWithJQ/GetEmployees',
                type: 'get',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                data: "{}",
                success: function (_data) {
                    var abc = "";
                    for (var i = 0; i < _data.length; i++) {

                        abc += '<tr><td >' + (i+1) + '</td><td><img src="/Content/';

                        if (_data[i].pic === null) {
                            abc += 'Logo/Employee.jpg"';
                        }
                        else {
                            abc += 'Employees/' + _data[i].pic + '"';
                        }

                        abc += '" class="img-thumbnail datatable-employee-photo" alt="Cinque Terre"></td><td>' + _data[i].name + '</td> <td>' + _data[i].email + '</td> <td>' + _data[i].phone + '</td>';
                        abc += '<td> <div class="table-data-feature"> <button class="item" title="Edit" onclick="GetEmployee(' + "'" + _data[i].id + "'" + ')" data-toggle="modal" data-target="#EditModal" ><i class="zmdi zmdi-edit"></i></button> ';
                        //if (_data[i].Users.length == 0) {
                        //    //console.log(_data[i].Users.length);
                        //    abc += '<a class="btn btn-primary trigger-btn  textsm" onclick="SelectEmployeeID(' + "'" + _data[i].id + "'" + ')" href="#SetRoleModal" data-toggle="modal"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;Role</a> ';
                        //}

                        abc += '<button class="item" title="Delete" onclick="SelectEmployeeID(' + "'" + _data[i].id + "'" + ')" data-toggle="modal" data-target="#DeleteModal" > <i class="zmdi zmdi-delete"></i> </button> </div> </td ></tr> ';


                    }

                    $("#myTable tbody").html(abc);

                    $('#myTable').DataTable({
                        "pageLength": 5,
                        "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
                    });

                },
                error: function (res) {
                    console.log(res);
                }
            });
        }

        function GetEmployee(_id) {
            console.log("GetEmployee method called");
            $.ajax({
                url: '/EmployeeWithJQ/GetEmployee/' + _id,
                type: 'post',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (_data) {

                    if (_data.pic !== null) {

                        document.getElementById("updateEmployeeImageThumbnai").src = "/Content/Employees/" + _data.pic;
                    } else {
                        document.getElementById("updateEmployeeImageThumbnai").src = "/Content/Logo/Employee.jpg";
                    }

                    var date;
                    var DOB;

                    if (_data.dob !== null) {
                        date = new Date(parseInt(_data.dob.substr(6)));

                        DOB = date.getFullYear();

                        if (date.getMonth() < "9") {
                            DOB += "-0" + (date.getMonth() + 1);
                        } else {
                            DOB += "-" + (date.getMonth() + 1);
                        }

                        if (date.getUTCDate() < "9") {
                            DOB += "-0" + (date.getUTCDate() + 1);
                        } else {
                            DOB += "-" + (date.getUTCDate() + 1);
                        }
                        $('#updateEmployeeDob').val(DOB);
                    }


                    $('#updateEmployeeId').val(_data.id);
                    $('#updateEmployeeName').val(_data.name);
                    $('#updateEmployeeBgroup').val(_data.bgroup);
                    $('#updateEmployeeNID').val(_data.nid);
                    $('#updateEmployeePhone').val(_data.phone);
                    $('#updateEmployeeEmail').val(_data.email);
                    $('#updateEmployeeAddress').val(_data.address);
                    $('#updateCreateEmployee').val("UPDATE");

                },
                error: function (res) {
                    console.log(res);
                }
            });
        }

        function SelectEmployeeID(_id) {

            $('#selectedDeleteId').val(_id);

        }

        function DeleteEmployee() {
            var _id = $('#selectedDeleteId').val();
            $.ajax({
                url: "/EmployeeWithJQ/DeleteEmployee/" + _id,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (_data) {
                    location.reload(true);
                },
                error: function (res) {
                    console.log(res);
                }
            });
        }

        function SaveEmployee() {
            console.log("SaveEmployee triggered");
            var id = $("#updateEmployeeId").val();

            if (ValidateEmployee()) {
                if ( id != "0") {
                    UpdateEmployee();
                }
            }
        }

        function UpdateEmployee() {
            console.log("Udate Employee Triggered");

            if ($("#employeeUpdateForm").data("changed")) {
                //console.log("Inside Update: Input changed");

                var data = $('#employeeUpdateForm').serializeArray();
                var obj = {};

                $.map(data, function (n, i) {
                    obj[n['name']] = n['value'];
                });

                console.log("BOJ Serialized :", obj);
                var formData = new FormData();

                for (var prop in obj) {
                    console.log("property", prop);
                    console.log("value", obj[prop]);
                    if (!obj.hasOwnProperty(prop)) continue;
                    formData.append(prop, obj[prop]);
                }
                formData.append("ImageFile", document.getElementById('customFile').files[0]);

                $.ajax({
                    url: "/EmployeeWithJQ/UpdateEmployee",
                    type: 'POST',
                    method: 'POST',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (_data) {
                        console.log("Employee Updated");
                        location.reload(true);
                    },
                    error: function (res) {
                        console.log(res);
                        location.reload(true);
                    }
                });

            } else {
                location.reload(false);
            }



        }

        function ValidateEmployee() {
            if (!ValidateName()) {
                //console.log("Within ValidateEmployee : Name Not Validated");
                $('#uNameHelp').html("Inappropiate Name.");
                $('#uNameHelp').removeClass("text-muted");
                $('#uNameHelp').addClass("text-danger");

            } else {
                $('#uNameHelp').html(" ");

            }
            if (!ValidateEmail()) {
                //console.log("Within ValidateEmployee : Email Not Validated");
                $('#uEmailHelp').html("Inappropiate Email.");
                $('#uEmailHelp').removeClass("text-muted");
                $('#uEmailHelp').addClass("text-danger");
            } else {
                $('#uEmailHelp').html(" ");
            }

            if (ValidateName() && ValidateEmail()) {
                //console.log("VALIDATED");
                return true;
            } else {
                //console.log("NOT VALIDATED");
                return false;
            }

        }

        function ValidateName() {
            var _name = $('#updateEmployeeName').val();
            _name = _name.trim();

            if (_name === "") {
                return false;
            } else {
                return true;
            }

        }

        function ValidateEmail() {
            var _email = $('#updateEmployeeEmail').val();
            _email = _email.trim();

            if (_email === null) {
                return false;
            } else {

                var _emailArr = _email.split("@@");
                if (_emailArr.length == 2) {

                    //for (var i = 0; i < _emailArr[0].length; i++) {
                    //    if()
                    //}
                    if ((_emailArr[1].length - _emailArr[1].lastIndexOf(".com")) == 4) {
                        return true;
                    } else {
                        return false;
                    }

                } else {
                    return false;
                }


                //return true;
            }

        }

    </script>
}