@{ ViewBag.Title = "EM | Home"; }

<div class="row ">
    
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            //Activating SideNav
            $("#sideNavHome").addClass("active");      
        });
    </script>
}